body {font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #FFF;}
a {text-decoration: none;}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;}
    

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
}

    /* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
    justify-content: space-between
}

.logo {
    padding: 24px 0;
    margin-right: 76px;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;} .studio-logo {color: #2E2F42;}

.navigation-link {
    padding: 24px 0;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}
    .navigation-link:focus, .navigation-link:hover {color: #404BBF;}

.address {
    font-style: normal;
    font-weight: 400;}

.address-menu {
    display: flex;
    gap: 40px;
}
 
.address-link {
    padding: 24px 0;
    align-items: center;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.address-link:hover, .address-link:focus {color: #404BBF;} 
    
    /* Hero section */
.hero-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.70) , rgba(46, 47, 66, 0.70)), url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
}

.hero-title {color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    display: block;
    color: #FFF;
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.hero-button:hover, .hero-button:focus {background-color: #404BBF;}

/* Section 2 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0;}

.features-item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    width: calc((100% - 3 * 24px) / 4);
}
.features-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;

}
.features-icon {

}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.text {color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

    /* Section 3 */
.team-section {
    padding: 120px 0;
    background-color: #F4F4FD;}
.team-title {
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.name {
    text-align: center;
    margin-bottom: 8px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
.text-card {
    text-align: center;
}
.social-list {
    display: flex;
    gap: 24px;
}
.social-list-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
}
.social-icon {
fill: #F4F4FD;
}

    /* Section 4 */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FFFFFF;}
.portfolio-title {
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
    column-gap: 24px;
    text-align: start;
}
.portfolio-item {
    width: calc((100% - 48px)/3);
}

.product-preview {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
   

.product-title {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* Footer */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2E2F42;}
.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
    color: #4d5ae5; 
    font-family: Raleway, sans-serif; font-size: 18px; 
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;} .footer-studio-logo {color: #f4f4fd;}
.footer-text {
    width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.footer-social-list {
    display: flex;
    gap: 16px;
    margin-left: 120px;
}

.footer-social-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
}
.footer-icon {
    fill: #F4F4FD;
}